.center {
    text-align: center;
}
.background {
    background-color: aqua;
}
.navA {
    font-size: 20px;
    color: green;
    padding: 1.5%;
    text-decoration: none;
}

.navA:hover {
    color: darkgreen;
    background-color: black;
}

.AnchorB {
    color: orange;
    text-decoration: none;
}

.AnchorB:hover {
    color: darkorange;
    background-color: rgb(38, 38, 38);
}