---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Project from '../components/Project.astro';
import '../styles/main.css';
import '../styles/navigation.css';
---

<Layout title='Proyectos'>
  <nav class="instructions center">
    <a href="./" class="navA">Home</a>
    <a href="./curriculum-vitae" class="navA">CV</a>
    <a href="./proyectos" class="navA">Proyectos</a>
  </nav>
  <main>
    <ul id="project-list" role="list" class="link-card-grid">
      <Project
        title='Hidden Card'
        logo=''
        logoAlt=''
        body=''
        lang=''
        href='#'
        extraClass='hidden'
      />
    </ul>
  </main>
  <Footer />
</Layout>

<script src="../scripts/allprojects.js"></script>