---
import Layout from '../../layouts/Layout.astro';
import '../../styles/main.css';
import '../../styles/navigation.css';
import '../../styles/project.css';
import Footer from '../../components/Footer.astro';

export function getStaticPaths() {
  return [
    {params: {id: 1}},
    {params: {id: 2}},
    {params: {id: 3}},
    {params: {id: 4}},
    {params: {id: 5}},
    {params: {id: 6}},
    {params: {id: 7}},
    {params: {id: 8}},
    {params: {id: 9}},
    {params: {id: 10}},
    {params: {id: 11}},
    {params: {id: 12}},
    {params: {id: 13}},
    {params: {id: 14}},
    {params: {id: 15}},
    {params: {id: 16}},
    {params: {id: 17}},
    {params: {id: 18}},
    {params: {id: 19}},
    {params: {id: 20}},
  ];
}

const { id } = Astro.params;
---

<Layout title='test'>
  <nav class="instructions center">
		<a href="../" class="navA">Home</a>
		<a href="../curriculum-vitae" class="navA">CV</a>
		<a href="../proyectos" class="navA">Proyectos</a>
	</nav>
  <main>
    <div class="hidden">Nº Proyecto: <span id="projId">{id}</span></div>
    <section id="proyecto">
        <h4>Proyecto no definido</h4>
        <figure class="portada">
            <img src="">
        </figure>
        <article class="sinopsis">
            <h4>Sinopsis</h4>
            <p>No existe una sinopsis de un proyecto que no esta definido</p>
        </article>
        <article class="language">
            <h4>Idiomas</h4>
            <h5>
                Podemos jugar en : <span id="idioma">none</span>
            </h5>
        </article>
        <a href="#" class="astro-button" target="_blank" id="infoBtn">Más info</a>
        <a href="#" class="astro-button hidden" target="_blank" id="gameBtn">Jugar juego</a>
    </section>
  </main>
  <Footer />
</Layout>

<script src="../../scripts/getProject.js"></script>
<script src="../../scripts/konami.js"></script>